.page-header {
  background-color: #ff9400;
  padding: 20px 0px 20px 0px;
  font-family: Lobster;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  color: #ffffff;
  font-size: 36pt;
  text-decoration: none;
}
